@charset "UTF-8";
/* Three columns side by side */
.toggle{
	background-color: #8DC6E8;
	padding: 0px;
}
.spacer_dark{
	height: 15px;
	width: 100%;
	background-color: #238DC1;
}
.column {
	
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
	
  }

  .container p{
	word-break: break-all;
	word-wrap: break-word;
  }

  .break{
	word-break: break-all;
	word-wrap: break-word;
  }
 @media screen and (max-width: 1600px) {
	.column p{
		word-break: break-all;
		word-wrap: break-word;
	}
	
}
p{
	font-family: "Gotham-Book", Verdana, Tahoma;
	color: #003A5D;
	font-size: 1em;
	word-break: break-all;
	word-wrap: break-word;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 800px) {
	.column {
	  width: 100%;
	  display: block;
	  
	  
	}

	.column img{
		width: 100%;
		height:50%;
	
  	}
  	p{
	word-break: break-all;
	word-wrap: break-word;
	}
}

  /* Add some shadows to create a card effect */
  .card {
	left: 8px;

	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
	padding: 0 16px;
	overflow-wrap: break-word;
  }
  
  /* Clear floats */
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
	word-break: break-all;
	overflow-wrap: break-word;
  }
  
  .button {
	align-self: center;
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #003A5D;
	text-align: center;
	cursor: pointer;
	width: 33%;
  }
  
  .button:hover {
	background-color: #555;
  }
  



  